<script src="/js/chatScript.js"></script>
<section id="chat_part">
    <div class="user_list container">
        <ul>
            <!--<li><div class="user">
                <div class="profil-pic">
                    <img src="/resources/1987458.jpg" height="75px" width="75px">
                </div>
            </div></li> -->
        </ul>
    </div>
    <div class="chat">
        <div class="chat_box container-">
            <!-- <div class="message_container_out send">
                <div class="message_container">
                    <p>lorem ipsum</p>
                </div>
            </div>
            <div class="message_container_out">
                <div class="message_container receive">
                    <p>lorem ipsum</p>
                </div>
            </div> -->
        </div>
        <div class="bar">
            <form action="" methode="post">
                <input type="text" name="message" id="">
                <input type="submit" value="send">
            </form>
        </div>
    </div>
</section>