<input type="hidden" name="characId" value="<%= charac._id %>">
<% if(locals.error) { %>
    <p class="tex-danger"><%= error %></p>
<% } %>
<div>
    <label>inteligence</label>
    <input type="number" name="int" min="2" max="8">
</div>
<div>
    <label>reflex</label>
    <input type="number" name="ref" min="2" max="8">
</div>
<div>
    <label>dexterity</label>
    <input type="number" name="dex" min="2" max="8">
</div>
<div>
    <label>chance</label>
    <input type="number" name="cha" min="2" max="8">
</div>
<div>
    <label>corps</label>
    <input type="number" name="cor" min="2" max="8">
</div>
<div>
    <label>prestance</label>
    <input type="number" name="pres" min="2" max="8">
</div>
<div>
    <label>technique</label>
    <input type="number" name="tech" min="2" max="8">
</div>
<div>
    <label>volonte</label>
    <input type="number" name="vol" min="2" max="8">
</div>
<div>
    <label>mouvement</label>
    <input type="number" name="mouv" min="2" max="8">
</div>
<div>
    <label>empathie</label>
    <input type="number" name="emp" min="2" max="8">
</div>
