<section class="help__container">
    <div>
        <p>En cas de problème ou de bug rencontrer, contacter nous :</p>
        <br>
        <p>email : <a href="mailto:ilianvdbpro@outlook.fr">ilianvdbpro@outlook.fr</a></p>
        <br>
        <p>email : <a href="mailto:riwane.sebaoui@uphf.fr">riwane.sebaoui@uphf.fr</a></p>
        </a></p>
    </div>
</section>