<section class="history">
    <p>
        Dans un monde futuriste sombre et dystopique, une hackeuse du nom de Mia est embauchée pour pirater le système
        de sécurité d'une corporation malveillante. Après avoir réussi sa mission, elle découvre un projet secret de
        cette corporation visant à contrôler les esprits des citoyens à travers des implants cérébraux.
    </p>
    <br>
    <p>
        Mia décide de rejoindre un groupe de rebelles et de se battre contre cette corporation. Avec l'aide de ses amis
        hackers, elle parvient à diffuser des informations sur le projet secret et à mobiliser la population contre la
        corporation.
    </p>
    <br>
    <p>
        La guerre entre les rebelles et la corporation fait rage, mais grâce à la détermination de Mia et de ses alliés,
        la corporation est finalement renversée et les implants cérébraux sont démantelés. Mia devient une héroïne de la
        révolution et continue de lutter pour une société plus juste et égalitaire.
    </p>
</section>