<h1>login</h1>

<% if(messages.error){ %>
    <p> <%= messages.error %></p>
<% } %>

<form action="/auth/login" method="POST">
    <label>username</label>
    <input type="text" name="username">
    <label>password</label>
    <input type="password" name="password">
    <input type="submit" value="submit">
</form>
