<link rel="stylesheet" href="/css/styleLog.css">
<div class="login-box">
    <h2>Inscription</h2>

<form action="/auth/register" method="POST" enctype="multipart/form-data">
    <%if(locals.errorMessages){ %>
        <p><%= errorMessages.username %></p>
    <% } %>
    <div class="user-box">
            <input type="text" name="username">
            <label>username</label>
    </div>

    <%if(locals.errorMessages){ %>
        <p><%= errorMessages.email %></p>
    <% } %>
    
    <div class="user-box">
        <input type="email" name="email">
        <label>email</label>
    </div>
    <%if(locals.errorMessages){ %>
        <p><%= errorMessages.password %></p>
    <% } %>
    <div class="user-box">

        <input type="password" name="password">
        <label>password</label>
    </div>
    <div class="user-box">
        
        <input type="file" name="profilPicture">
        <label>profil picture</label>
    </div>
    <div class="buton">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <input type="submit" value="register">
    </div>
</form>
</div>
