.request_list{
    height: 100px;
    background-color: white;
    margin-top: 10px;
    display: block;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    border-radius: 10px;
}

.request_list ul li{
    display:inline-block;
    white-space: nowrap;
    margin: 12px 2px;
    border-radius: 10px;
    overflow: hidden;
}
.request_list ul{
    padding: 0 0;
}