<section id="explication">
    <div class="wrapper">
        <br>
        <h2>Les règles</h2>
        <br>
        <p>·  Création de personnage : Les joueurs créent un personnage en choisissant sa race, sa classe, ses compétences et ses statistiques.</p>
        <br>
        <p>·  Scénario : Le MJ (Maitre du jeu) propose un scénario et décrit le monde dans lequel se déroule le jeu. </p>
        <br>
        <p>·  Actions : Les joueurs décrivent les actions de leur personnage et lancent des dés pour déterminer leur succès ou leur échec.</p> 
        <br>
        <p>·  Résolution de conflits : En cas de conflit, le MJ et les joueurs utilisent les règles du jeu pour déterminer le résultat, souvent en lançant des dés et en comparant les résultats.</p> 
        <br>
        <p>·  Évolution du personnage : Les joueurs gagnent de l'expérience en réussissant des actions et en accomplissant des objectifs, ce qui leur permet d'améliorer leur personnage au fil du temps.</p>       
    </div>
</section>