<div>

    <select name="class">
        <label>class</label>
        <option label="rockeur" value="rockeur">
        <option label="solo" value="solo">
        <option label="netrunner" value="netrunner">
        <option label="techie" value="techie">
        <option label="medtech" value="medtech">
        <option label="media" value="media">
        <option label="corporatiste" value="corporatiste">
        <option label="justicier" value="justicier">
        <option label="fixer" value="fixer">
        <option label="nomade" value="nomade">
    </select>
</div>
<div>
    <label>firstname</label>
    <input type="text" name="firstname">
</div>
<div>
    <label>lastname</label>
    <input type="text" name="lastname">
</div>