<form action="" method="POST">
<div class="accordion accordion-flush" id="accordionFlush">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <p>Compétences de combat</p>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <div class="accordion-body">
            <div>
                <label>
                    Arme de mêlée
                    <span class="badge rounded-pill text-bg-warning">
                        DEX
                    </span>
                </label>
                <input type="number" min="0" max="6" name="armMel">
            </div>
            <div>
                <label>
                    Art martial (x2)
                    <span class="badge rounded-pill text-bg-warning">
                        DEX
                    </span>
                </label>
                <input type="number" min="0" max="6" name="artMar">
            </div>
            <div>
                <label>
                    Bagarre
                    <span class="badge rounded-pill text-bg-warning">
                        DEX
                    </span>
                </label>
                <input type="number" min="0" max="6" name="bag">
            </div>
            <div>
                <label>
                    Esquive
                    <span class="badge rounded-pill text-bg-warning">
                        DEX
                    </span>
                </label>
                <input type="number" min="0" max="6" name="esq">
            </div>
            </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          <p>Compétences de contrôle</p>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
        <div>
            <label>
                Conduite de véhicule terrestre
                <span class="badge rounded-pill text-bg-warning">
                    REF
                </span>
            </label>
            <input type="number" min="0" max="6" name="condVehiTer">
        </div>
        <div>
            <label>
                Equitation
                <span class="badge rounded-pill text-bg-warning">
                    REF
                </span>
            </label>
            <input type="number" min="0" max="6" name="equi">
        </div>
        <div>
            <label>
                Pilotage de véhicule aérien (x2)
                <span class="badge rounded-pill text-bg-warning">
                    REF
                </span>
            </label>
            <input type="number" min="0" max="6" name="piloVehiAer">
        </div>
        <div>
            <label>
                Pilotage de véhicule marin
                <span class="badge rounded-pill text-bg-warning">
                    REF
                </span>
            </label>
            <input type="number" min="0" max="6" name="piloVehiMar">
        </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          <p>Compétences de corps</p>
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
        <div>
            <label>
                Athlétisme
                <span class="badge rounded-pill text-bg-warning">
                    DEX
                </span>
            </label>
            <input type="number" min="0" max="6" name="ath">
        </div>
        <div>
            <label>
                Contorsion
                <span class="badge rounded-pill text-bg-warning">
                    DEX
                </span>
            </label>
            <input type="number" min="0" max="6" name="cont">
        </div>
        <div>
            <label>
                Danse
                <span class="badge rounded-pill text-bg-warning">
                    DEX
                </span>
            </label>
            <input type="number" min="0" max="6" name="danse">
        </div>
        <div>
            <label>
                Discrétion
                <span class="badge rounded-pill text-bg-warning">
                    DEX
                </span>
            </label>
            <input type="number" min="0" max="6" name="disc">
        </div>
        <div>
            <label>
                Endurance
                <span class="badge rounded-pill text-bg-warning">
                    VOL
                </span>
            </label>
            <input type="number" min="0" max="6" name="end">
        </div>
        <div>
            <label>
                Résistance à la torture/aux drogues
                <span class="badge rounded-pill text-bg-warning">
                    VOL
                </span>
            </label>
            <input type="number" min="0" max="6" name="resTort">
        </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            <p>Compétences d'education</p>
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
           <div class="accordion-body"> 
            <div>
                <label>
                    Bibliothèque
                    <span class="badge rounded-pill text-bg-warning">
                        INT
                    </span>
                </label>
                <input type="number" min="0" max="6" name="bibl">
            </div>
            <div>
                <label>
                    Bureaucratie
                    <span class="badge rounded-pill text-bg-warning">
                        INT
                    </span>
                </label>
                <input type="number" min="0" max="6" name="bur">
            </div>
            <div>
                <label>
                    Composition
                    <span class="badge rounded-pill text-bg-warning">
                        INT
                    </span>
                </label>
                <input type="number" min="0" max="6" name="compo">
            </div>
            <div>
                <label>
                    Comptabilité
                    <span class="badge rounded-pill text-bg-warning">
                        INT
                    </span>
                </label>
                <input type="number" min="0" max="6" name="compta">
            </div>
            <div>
                <label>
                    Criminologie
                    <span class="badge rounded-pill text-bg-warning">
                        INT
                    </span>
                </label>
                <input type="number" min="0" max="6" name="crim">
            </div>
            <div>
                <label>
                    Cryptographie
                    <span class="badge rounded-pill text-bg-warning">
                        INT
                    </span>
                </label>
                <input type="number" min="0" max="6" name="cry">
            </div>
            <div>
                <label>
                    Déduction
                    <span class="badge rounded-pill text-bg-warning">
                        INT
                    </span>
                </label>
                <input type="number" min="0" max="6" name="dedu">
            </div>
            <div>
                <label>
                    Dressage
                    <span class="badge rounded-pill text-bg-warning">
                        INT
                    </span>
                </label>
                <input type="number" min="0" max="6" name="dres">
            </div>
            <div>
                <label>
                    Gestion d'affaires
                    <span class="badge rounded-pill text-bg-warning">
                        INT
                    </span>
                </label>
                <input type="number" min="0" max="6" name="gestAff">
            </div>
            <div>
                <label>
                    Guide local
                    <span class="badge rounded-pill text-bg-warning">
                        INT
                    </span>
                </label>
                <input type="number" min="0" max="6" name="guidLoc">
            </div>
            <div>
                <label>
                    Jeux de hasard
                    <span class="badge rounded-pill text-bg-warning">
                        INT
                    </span>
                </label>
                <input type="number" min="0" max="6" name="jeuxHas">
            </div>
            <div>
                <label>
                    Langue
                    <span class="badge rounded-pill text-bg-warning">
                        INT
                    </span>
                </label>
                <input type="number" min="0" max="6" name="lang">
            </div>
            <div>
                <label>
                    Science
                    <span class="badge rounded-pill text-bg-warning">
                        INT
                    </span>
                </label>
                <input type="number" min="0" max="6" name="scie">
            </div>
            <div>
                <label>
                    Survie en milieu hostile
                    <span class="badge rounded-pill text-bg-warning">
                        INT
                    </span>
                </label>
                <input type="number" min="0" max="6" name="surv">
            </div>
            <div>
                <label>
                    Tactique
                    <span class="badge rounded-pill text-bg-warning">
                        INT
                    </span>
                </label>
                <input type="number" min="0" max="6" name="tact">
            </div>
            </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            <p>Compétences de représentation</p>
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div>
                <label>
                    instrument
                    <span class="badge rounded-pill text-bg-warning">
                        TECH
                    </span>
                </label>
                <input type="number" min="0" max="6" name="inst">
            </div>
            <div>
                <label>
                    jeu d'acteur
                    <span class="badge rounded-pill text-bg-warning">
                        PRES
                    </span>
                </label>
                <input type="number" min="0" max="6" name="jda">
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            <p>Compétences de sociabilité</p>
          </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div>
                <label>
                    connaissance de la rue
                    <span class="badge rounded-pill text-bg-warning">
                       PRES 
                    </span>
                </label>
                <input type="number" min="0" max="6" name="conDLR">
            </div>
            <div>
                <label>
                    conversation
                    <span class="badge rounded-pill text-bg-warning">
                        EMP
                    </span>
                </label>
                <input type="number" min="0" max="6" name="conv">
            </div>
            <div>
                <label>
                    corruption
                    <span class="badge rounded-pill text-bg-warning">
                        PRES
                    </span>
                </label>
                <input type="number" min="0" max="6" name="corrup">
            </div>
            <div>
                <label>
                    habillement et style
                    <span class="badge rounded-pill text-bg-warning">
                        PRES
                    </span>
                </label>
                <input type="number" min="0" max="6" name="hab">
            </div>
            <div>
                <label>
                    interrogatoire
                    <span class="badge rounded-pill text-bg-warning">
                        PRES
                    </span>
                </label>
                <input type="number" min="0" max="6" name="itro">
            </div>
            <div>
                <label>
                look
                    <span class="badge rounded-pill text-bg-warning">
                        PRES
                    </span>
                </label>
                <input type="number" min="0" max="6" name="look">
            </div>
            <div>
                <label>
                    négociation
                    <span class="badge rounded-pill text-bg-warning">
                        PRES
                    </span>
                </label>
                <input type="number" min="0" max="6" name="nego">
            </div>
            <div>
                <label>
                    persuiasion
                    <span class="badge rounded-pill text-bg-warning">
                        PRES
                    </span>
                </label>
                <input type="number" min="0" max="6" name="persu">
            </div>
            <div>
                <label>
                    psychologie
                    <span class="badge rounded-pill text-bg-warning">
                        EMP
                    </span>
                </label>
                <input type="number" min="0" max="6" name="psycho">
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSeven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
            <p>Compétences de technique</p>
          </button>
        </h2>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div>
                <label>
                    Aèrotech
                    <span class="badge rounded-pill text-bg-warning">
                        TECH
                    </span>
                </label>
                <input type="number" min="0" max="6" name="aero">
            </div>
            <div>
                <label>
                    armurerie
                    <span class="badge rounded-pill text-bg-warning">
                        TECH
                    </span>
                </label>
                <input type="number" min="0" max="6" name="armu">
            </div>
            <div>
                <label>
                    arts plastiques
                    <span class="badge rounded-pill text-bg-warning">
                        TECH
                    </span>
                </label>
                <input type="number" min="0" max="6" name="artPlas">
            </div>
            <div>
                <label>
                    assistance medicale (X2)
                    <span class="badge rounded-pill text-bg-warning">
                        TECH
                    </span>
                </label>
                <input type="number" min="0" max="6" name="assistMed">
            </div>
            <div>
                <label>
                    contrefaçon
                    <span class="badge rounded-pill text-bg-warning">
                        TECH
                    </span>
                </label>
                <input type="number" min="0" max="6" name="contre">
            </div>
            <div>
                <label>
                    crochetage
                    <span class="badge rounded-pill text-bg-warning">
                        TECH
                    </span>
                </label>
                <input type="number" min="0" max="6" name="croche">
            </div>
            <div>
                <label>
                    cybertech
                    <span class="badge rounded-pill text-bg-warning">
                        TECH
                    </span>
                </label>
                <input type="number" min="0" max="6" name="cyber">
            </div>
            <div>
                <label>
                    électronique
                    <span class="badge rounded-pill text-bg-warning">
                        TECH
                    </span>
                </label>
                <input type="number" min="0" max="6" name="elec">
            </div>
            <div>
                <label>
                    explosifs (X2)
                    <span class="badge rounded-pill text-bg-warning">
                        TECH
                    </span>
                </label>
                <input type="number" min="0" max="6" name="explo">
            </div>
            <div>
                <label>
                    maritech
                    <span class="badge rounded-pill text-bg-warning">
                        TECH
                    </span>
                </label>
                <input type="number" min="0" max="6" name="mari">
            </div>
            <div>
                <label>
                    photos et films
                    <span class="badge rounded-pill text-bg-warning">
                        TECH
                    </span>
                </label>
                <input type="number" min="0" max="6" name="photo">
            </div>
            <div>
                <label>
                    pickpocket
                    <span class="badge rounded-pill text-bg-warning">
                        TECH
                    </span>
                </label>
                <input type="number" min="0" max="6" name="pick">
            </div>
            <div>
                <label>
                    premiers secours
                    <span class="badge rounded-pill text-bg-warning">
                        TECH
                    </span>
                </label>
                <input type="number" min="0" max="6" name="ps">
            </div>
            <div>
                <label>
                    sécurité électronique (X2)
                    <span class="badge rounded-pill text-bg-warning">
                        TECH
                    </span>
                </label>
                <input type="number" min="0" max="6" name="elecSecu">
            </div>
            <div>
                <label>
                    terratech
                    <span class="badge rounded-pill text-bg-warning">
                        TECH
                    </span>
                </label>
                <input type="number" min="0" max="6" name="terra">
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingHeight">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseHeight" aria-expanded="false" aria-controls="flush-collapseHeight">
            <p>Compétences de tir</p>
          </button>
        </h2>
        <div id="flush-collapseHeight" class="accordion-collapse collapse" aria-labelledby="flush-headingHeight" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div>
                <label>
                    armes d'epaule
                    <span class="badge rounded-pill text-bg-warning">
                        REF
                    </span>
                </label>
                <input type="number" min="0" max="6" name="armEpa">
            </div>
            <div>
                <label>
                    armes lourdes (X2)
                    <span class="badge rounded-pill text-bg-warning">
                        REF
                    </span>
                </label>
                <input type="number" min="0" max="6" name="armLour">
            </div>
            <div>
                <label>
                    pistoler
                    <span class="badge rounded-pill text-bg-warning">
                        REF
                    </span>
                </label>
                <input type="number" min="0" max="6" name="pistol">
            </div>
            <div>
                <label>
                    tir a l'arc
                    <span class="badge rounded-pill text-bg-warning">
                        REF
                    </span>
                </label>
                <input type="number" min="0" max="6" name="armArc">
            </div>
            <div>
                <label>
                    tir automatiques (X2)
                    <span class="badge rounded-pill text-bg-warning">
                        REF
                    </span>
                </label>
                <input type="number" min="0" max="6" name="armAuto">
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingNine">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
            <p>Compétences de vigilance</p>
          </button>
        </h2>
        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div>
                <label>
                    concentration
                    <span class="badge rounded-pill text-bg-warning">
                        VOL
                    </span>
                </label>
                <input type="number" min="0" max="6" name="concen">
            </div>
            <div>
                <label>
                    Dissimulation/ révélation d'objet
                    <span class="badge rounded-pill text-bg-warning">
                        INT
                    </span>
                </label>
                <input type="number" min="0" max="6" name="diss">
            </div>
            <div>
                <label>
                    lecture sur les lèvres
                    <span class="badge rounded-pill text-bg-warning">
                        INT
                    </span>
                </label>
                <input type="number" min="0" max="6" name="lecLev">
            </div>
            <div>
                <label>
                    perception
                    <span class="badge rounded-pill text-bg-warning">
                        INT
                    </span>
                </label>
                <input type="number" min="0" max="6" name="perc">
            </div>
            <div>
                <label>
                    pistage
                    <span class="badge rounded-pill text-bg-warning">
                        INT
                    </span>
                </label>
                <input type="number" min="0" max="6" name="pist">
            </div>
          </div>
        </div>
      </div>
  </div>
  </form>