<div id="app-wrapper">
    <div id="menu">
        <p>menu</p>
    </div>
    <div id="groupe">
        <p>groupe</p>
    </div>
    <div id="carte">
        <div id="plateau">
            <canvas id="myCanvas"></canvas>
            <canvas id="myToken"></canvas>
        </div>
        <div id="penChoice">
            <input type="radio" name="penErase" id="pen">pen
            <br>
            <input type="radio" name="penErase" id="erase">erase
            <br>
            <input type="color" id="myColor">pen color
            <br>
            <br>
            <input type="color" id="background">background color
            <br>
            <br>
            <div>
                <input type="range" min="1" max="100" id="size">size
                <div class="pawn_param">
                    <input type="color" id="pawn_color">pawn myColor
                    <button id="create_pawn">create</button>
                </div>
            </div>
            <br>
            <br>
            <input type="button" id="pawn">new pawn
            <br>
            <br>
            <input type="button" id="undo">undo
            <br>
        </div>
    </div>
    <div id="coment">
        <p>commmenttt</p>
    </div>
</div>
<script src="js/appScript.js"> </script>